{% extends "filesapp/base.html" %}
{% load ospath %}
{% block content %}
{% load static %}
  <div class="app-content content file-manager-application">
<div class="row match-height">
   <!-- Timeline Card -->

<div class="col-lg-7 col-12">
      <div class="card card-revenue-budget">
        
            
            <img   src="{{MEDIA_URL}}{{ topic.image.url }}" alt="{{topic.filename}}" style="width: 100%;
    height: 100%;
    object-fit: cover;">
         
          
      
    </div>
</div>
   <div class="col-lg-5 col-10">
      <div class="card card-user-timeline">
         <div class="card-header">
            <div class="d-flex align-items-center">
               <i data-feather="list" class="user-timeline-title-icon"></i>
               <h4 class="card-title">IMAGE INFORMTION</h4>
            </div>
         </div>
         <div class="card-body">
            <ul class="timeline ml-50">
               <li class="timeline-item">
                  <span class="timeline-point timeline-point-indicator"></span>
                  <div class="timeline-event">
                     <a href="#!">
                        <h6>Tags</h6>
                     </a>
                     <p class="text-muted m-b-0">{{topic.tags}}</p>
                     <div class="media align-items-center">
                     </div>
                  </div>
               </li>
               <li class="timeline-item">
                  <span class="timeline-point timeline-point-warning timeline-point-indicator"></span>
                  <div class="timeline-event">
                     <a href="#!">
                        <h6>File size</h6>
                     </a>
                     <p class="text-muted m-b-0">{{ topic.image.size | filesizeformat }}</p>
                     <div class="media align-items-center">
                        <div class="avatar mr-50">
                        </div>
                        <div class="media-body">
                        </div>
                     </div>
                  </div>
               </li>
               <li class="timeline-item">
                  <span class="timeline-point timeline-point-info timeline-point-indicator"></span>
                  <div class="timeline-event">
                     <a href="#!">
                        <h6>FileType</h6>
                     </a>
                     <p class="text-muted m-b-0">{{type}}-{{ topic.filetype }}</p>
                     <div class="avatar-group">
                        <div data-toggle="tooltip" data-popup="tooltip-custom" data-placement="bottom" data-original-title="Billy Hopkins" class="avatar pull-up">
                        </div>
                     </div>
                  </div>
               </li>
              
               <li class="timeline-item">
                  <span class="timeline-point timeline-point-warning timeline-point-indicator"></span>
                  <div class="timeline-event">
                     <a href="#!">
                        <h6>Resolution</h6>
                     </a>
                     <p class="text-muted m-b-0">{{ topic.image_height }}*{{topic.image_width}}</p>
                  </div>
               </li>
               <li class="timeline-item">
                  <span class="timeline-point timeline-point-warning timeline-point-indicator"></span>
                  <div class="timeline-event">
                     <a href="#!">
                        <h6>Image location</h6>
                     </a>
                     <p class="text-muted m-b-0">{{ topic.image}}</p>
                  </div>
               </li>
               
               {% for download in download %}
           
               <li class="timeline-item">
                  <span class="timeline-point timeline-point-info timeline-point-indicator"></span>
                  <div class="timeline-event">
                     <a href="#!">
                        <h6>Total Downloads By {{user}}</h6>
                     </a>
                     <p class="text-muted m-b-0">{{download.total_downloads }}</p>
                     <div class="avatar-group">
                        <div data-toggle="tooltip" data-popup="tooltip-custom" data-placement="bottom" data-original-title="Billy Hopkins" class="avatar pull-up">
                        </div>
                     </div>
                  </div>
               </li>
               
             
            {% endfor %}
            
            </ul>
         </div>
      </div>
   </div>
 
</div>   
<div class="row">
   <div class="col-md-6 col-sm-12">
      <div class="card">
       
        <div class="card-content collapse show">
          <div class="card-body">
            
            <div class="d-flex flex-column flex-sm-row pt-1">
           
            <a href="{% url 'filesapp:like' ids %}"class="btn btn-outline-secondary mr-0 mr-sm-1 mb-1 mb-sm-0">
            <i class="fa fa-heart" style="font-size:20px;color:red"></i>
              <span>Likes({{topic.likes}})</span>
            </a>

           

            <a href="/file/{{topic.pk}}/download{{ topic.image.url }}/" class="btn btn-info mr-0 mr-sm-1 mb-1 mb-sm-0">
              
              <span>Download({{topic.total_downloads}})</span>
            </a>



              <form method="POST" action="{% url 'filesapp:comment' ids %}" id="CommentForm">{% csrf_token %}
                <div class="row">
              <div class="col-md-8 ">
               
               
                  <input
                    type="text"
                    name="post_comment"
                    class="form-control"
                    placeholder=" add comments"
                  />
               
              </div> 
                  <div class="col-md-4">
              <input class="btn btn-primary " type="submit" name="comment" value="comment">
            </div>
          </div>
            </form>
            
         </div>
         
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-14">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Comments</h4>
          <div class="heading-elements">
            <ul class="list-inline mb-0">
              <li>
                <a data-action="collapse"><i data-feather="chevron-down"></i></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="card-content collapse ">
          <div class="card-body">
          
            <p class="card-text">
              {% for comment in topic.comments.all %}
            {% if comment.po.id == topic.id %}
            <p class="card-text"><b>{{comment.user.username}} </b> {{comment.comment}}</p>
            {% endif %}
            {% endfor %}
            </p>
          </div>
        </div>
      </div>
    </div>

    
  </div>


<section class="app-ecommerce-details">
  <div class="card">
    
    <!-- Item features ends -->
    <!-- Related Products starts -->
    <div class="card-body">
      <div class="mt-4 mb-2 text-center">
        <h4>Related Categories</h4>
        
      </div>
      <div class="swiper-responsive-breakpoints swiper-container px-4 py-2">
         
        <div class="swiper-wrapper">
         {% for relate in related%}
          <div class="swiper-slide">
            <a href="javascript:void(0)">
              <div class="item-heading">
               <center> <h5 class="text-truncate mb-0">{{relate.tags}}</h5></center>
               
              </div>
              <div class="img-container w-50 mx-auto py-75">
                <img src="{{ relate.image.url }}" class="img-fluid" alt="image" style="" />
              </div>
              
            </a>
          </div>
         {% endfor %}
        </div>
        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
         
      </div>
    </div>
    <!-- Related Products ends -->
  </div>
</section>
</div>
{% endblock %}